<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 레포지토리 빈 -->
    <bean id="memberRepository" class="com.prisma77.di.di3.MemoryMemberRepository" scope="singleton"/>

    <!-- A. 생성자 주입 -->
    <bean id="memberService" class="com.prisma77.di.di3.MemberService">
        <constructor-arg ref="memberRepository"/>
    </bean>

    <!-- B. 세터 주입 -->
    <bean id="memberServiceWithSetter" class="com.prisma77.di.di3.MemberServiceWithSetter" scope="prototype">
        <property name="memberRepository" ref="memberRepository"/>
    </bean>

</beans>

